In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('02_Student_Mental_Health_2021-10-10.csv')
df.head()

,StartDate,EndDate,Duration (in seconds),Eligibility,Age,Ethnicity,Ethnicity_text,Sex,Gender,Year_credits,...,Post_PSS_1,Post_PSS_2,Post_PSS_3,Post_PSS_4,Post_PSS_5,Post_PSS_6,Post_PSS_7,Post_PSS_8,Post_PSS_9,Post_PSS_10
0,2020-09-22 13:57,2020-09-22 14:05,461.0,1.0,18.0,2.0,NaN,2.0,2.0,1.0,...,4.0,3.0,3.0,1.0,3.0,3.0,2.0,3.0,3.0,3.0
1,2020-09-22 14:16,2020-09-22 14:36,1215.0,1.0,18.0,1.0,NaN,2.0,2.0,1.0,...,5.0,4.0,3.0,4.0,2.0,2.0,3.0,4.0,3.0,2.0
2,2020-09-22 14:59,2020-09-22 15:07,526.0,1.0,18.0,2.0,NaN,2.0,2.0,1.0,...,2.0,3.0,4.0,3.0,4.0,4.0,2.0,3.0,4.0,4.0
3,2020-09-22 16:07,2020-09-22 16:15,516.0,1.0,19.0,1.0,NaN,2.0,2.0,1.0,...,4.0,4.0,5.0,4.0,2.0,4.0,3.0,3.0,4.0,3.0
4,2020-09-22 17:15,2020-09-22 18:01,2751.0,1.0,18.0,1.0,NaN,2.0,2.0,1.0,...,2.0,1.0,5.0,4.0,3.0,3.0,4.0,3.0,5.0,3.0

In [6]:
print(list(df.columns))

['StartDate', 'EndDate', 'Duration (in seconds)', 'Eligibility', 'Age', 'Ethnicity', 'Ethnicity_text', 'Sex', 'Gender', 'Year_credits', 'Year_calendar', 'Program', 'Part_time', 'Degree', 'Disability', 'Living', 'Province', 'International', 'Employment', 'Volunteering', 'Plans', 'Catch_question', 'Hobbies_Imp_1', 'Hobbies_Imp_2', 'Hobbies_Imp_3', 'Hobbies_Imp_4', 'Hobbies_Imp_5', 'Hobbies_Imp_6', 'Hobbies_Imp_7', 'Hobbies_Imp_8', 'Hobbies_Time_1', 'Hobbies_Time_2', 'Hobbies_Time_3', 'Hobbies_Time_4', 'Hobbies_Time_5', 'Hobbies_Time_6', 'Hobbies_Time_7', 'Hobbies_Time_8', 'Strenous exercise', 'Moderate exercise', 'Mild exercise', 'Anaerobic_Aerobic', 'CATS_1', 'CATS_2', 'CATS_3', 'CATS_4', 'CATS_5', 'CATS_6', 'CATS_7', 'CATS_8', 'CATS_9', 'CATS_10', 'Hours_sleep', 'Rested', 'More_sleep', 'SSS_1', 'SSS_2', 'SSS_3', 'SSS_4', 'SSS_5', 'SSS_6', 'SSS_7', 'SSS_8', 'SSS_9', 'SSS_10', 'SSS_11', 'SSS_12', 'CAMS_1', 'CAMS_2', 'CAMS_3', 'CAMS_4', 'CAMS_5', 'CAMS_6', 'CAMS_7', 'CAMS_8', 'CAMS_9', 'CAMS_10', 'CAMS_11', 'CAMS_12', 'Mindfulness_freq', 'DERS_1', 'DERS_2', 'DERS_3', 'DERS_4', 'DERS_5', 'DERS_6', 'DERS_7', 'DERS_8', 'DERS_9', 'DERS_10', 'DERS_11', 'DERS_12', 'DERS_13', 'DERS_14', 'DERS_15', 'DERS_16', 'DASS_1', 'DASS_2', 'DASS_3', 'DASS_4', 'DASS_5', 'DASS_6', 'DASS_7', 'DASS_8', 'DASS_9', 'DASS_10', 'DASS_11', 'DASS_12', 'DASS_13', 'DASS_14', 'DASS_15', 'DASS_16', 'DASS_17', 'DASS_18', 'DASS_19', 'DASS_20', 'DASS_21', 'Diagnosis', 'Diagnosis_text', 'Pre_GAD_1', 'Pre_GAD_2', 'Pre_PHQ_1', 'Pre_PHQ_2', 'Pre_PSS_1', 'Pre_PSS_2', 'Pre_PSS_3', 'Pre_PSS_4', 'Pre_PSS_5', 'Pre_PSS_6', 'Pre_PSS_7', 'Pre_PSS_8', 'Pre_PSS_9', 'Pre_PSS_10', 'Post_GAD_1', 'Post_GAD_2', 'Post_PHQ_1', 'Post_PHQ_2', 'Post_PSS_1', 'Post_PSS_2', 'Post_PSS_3', 'Post_PSS_4', 'Post_PSS_5', 'Post_PSS_6', 'Post_PSS_7', 'Post_PSS_8', 'Post_PSS_9', 'Post_PSS_10']

In [8]:
columns_of_interest = ['Age', 'Ethnicity', 'Sex', 'Gender', 'International', 'Disability', 'Year_credits', 'Year_calendar', 'Program', 'Part_time', 'Degree', 'Living', 'Employment', 'Volunteering', 'Plans', 'Hours_sleep', 'More_sleep', 'Hobbies_Time_1', 'Hobbies_Time_2', 'Hobbies_Time_3', 'Hobbies_Time_4', 'Hobbies_Time_5', 'Hobbies_Time_6', 'Hobbies_Time_7', 'Hobbies_Time_8', 'Strenous exercise', 'Moderate exercise', 'Mild exercise', 'Anaerobic_Aerobic', 'Diagnosis', 'Pre_GAD_1', 'Pre_GAD_2', 'Pre_PHQ_1', 'Pre_PHQ_2', 'Pre_PSS_1', 'Pre_PSS_2', 'Pre_PSS_3', 'Pre_PSS_4', 'Pre_PSS_5', 'Pre_PSS_6', 'Pre_PSS_7', 'Pre_PSS_8', 'Pre_PSS_9', 'Pre_PSS_10']
# also added 'Employment', 'Volunteering', 'Plans'

In [9]:
df = df[columns_of_interest]
df.head()

,Age,Ethnicity,Sex,Gender,International,Disability,Year_credits,Year_calendar,Program,Part_time,...,Pre_PSS_1,Pre_PSS_2,Pre_PSS_3,Pre_PSS_4,Pre_PSS_5,Pre_PSS_6,Pre_PSS_7,Pre_PSS_8,Pre_PSS_9,Pre_PSS_10
0,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,7.0,2.0,...,3.0,4.0,4.0,2.0,3.0,3.0,2.0,3.0,3.0,3.0
1,18.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,8.0,2.0,...,3.0,2.0,5.0,3.0,3.0,4.0,4.0,4.0,2.0,4.0
2,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,...,3.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,2.0,4.0
3,19.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,3.0,3.0,5.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,18.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,3.0,2.0,...,2.0,1.0,5.0,4.0,4.0,2.0,2.0,3.0,5.0,2.0

In [10]:
pre_pss_columns = ['Pre_PSS_1', 'Pre_PSS_2', 'Pre_PSS_3', 'Pre_PSS_4', 'Pre_PSS_5',
                   'Pre_PSS_6', 'Pre_PSS_7', 'Pre_PSS_8', 'Pre_PSS_9', 'Pre_PSS_10']

df['stress'] = df[pre_pss_columns].mean(axis=1)

# Drop the Pre_PSS columns
df = df.drop(pre_pss_columns, axis=1)

df.head()

,Age,Ethnicity,Sex,Gender,International,Disability,Year_credits,Year_calendar,Program,Part_time,...,Strenous exercise,Moderate exercise,Mild exercise,Anaerobic_Aerobic,Diagnosis,Pre_GAD_1,Pre_GAD_2,Pre_PHQ_1,Pre_PHQ_2,stress
0,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,7.0,2.0,...,1.0,4.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0
1,18.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,8.0,2.0,...,1.0,3.0,10.0,3.0,1.0,4.0,3.0,1.0,1.0,3.4
2,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,...,2.0,5.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,3.2
3,19.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,1.0,2.0,2.0,1.0,1.0,3.0,3.0,2.0,1.0,3.2
4,18.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,3.0,2.0,...,3.0,3.0,2.0,1.0,1.0,4.0,4.0,1.0,1.0,3.0

In [11]:
pre_phq_columns = ['Pre_PHQ_1', 'Pre_PHQ_2']

df['depression'] = df[pre_phq_columns].mean(axis=1)

# Drop the Pre_PHQ columns
df = df.drop(pre_phq_columns, axis=1)

df.head()

,Age,Ethnicity,Sex,Gender,International,Disability,Year_credits,Year_calendar,Program,Part_time,...,Hobbies_Time_8,Strenous exercise,Moderate exercise,Mild exercise,Anaerobic_Aerobic,Diagnosis,Pre_GAD_1,Pre_GAD_2,stress,depression
0,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,7.0,2.0,...,1.0,1.0,4.0,3.0,1.0,2.0,2.0,2.0,3.0,2.0
1,18.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,8.0,2.0,...,2.0,1.0,3.0,10.0,3.0,1.0,4.0,3.0,3.4,1.0
2,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,...,2.0,2.0,5.0,1.0,1.0,1.0,2.0,2.0,3.2,1.5
3,19.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,3.0,1.0,2.0,2.0,1.0,1.0,3.0,3.0,3.2,1.5
4,18.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,3.0,2.0,...,5.0,3.0,3.0,2.0,1.0,1.0,4.0,4.0,3.0,1.0

In [12]:
pre_gad_columns = ['Pre_GAD_1', 'Pre_GAD_2']

df['anxiety'] = df[pre_gad_columns].mean(axis=1)

# Drop the Pre_GAD columns
df = df.drop(pre_gad_columns, axis=1)

df.head()

,Age,Ethnicity,Sex,Gender,International,Disability,Year_credits,Year_calendar,Program,Part_time,...,Hobbies_Time_7,Hobbies_Time_8,Strenous exercise,Moderate exercise,Mild exercise,Anaerobic_Aerobic,Diagnosis,stress,depression,anxiety
0,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,7.0,2.0,...,2.0,1.0,1.0,4.0,3.0,1.0,2.0,3.0,2.0,2.0
1,18.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,8.0,2.0,...,2.0,2.0,1.0,3.0,10.0,3.0,1.0,3.4,1.0,3.5
2,18.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,...,1.0,2.0,2.0,5.0,1.0,1.0,1.0,3.2,1.5,2.0
3,19.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,2.0,3.0,1.0,2.0,2.0,1.0,1.0,3.2,1.5,3.0
4,18.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,3.0,2.0,...,2.0,5.0,3.0,3.0,2.0,1.0,1.0,3.0,1.0,4.0

In [13]:
df.to_csv('cleaned_data.csv', index=False)